<article id="project-select">
    <section class="grid-items">
        {{#each model as |m|}}
            <a {{action "transition" "projects.glob" m.id}}
               style={{concat
               (if (and m.background m.background.image)
                (concat "background-image: url(" "assets/images/" m.background.image ");")
                (if m.background (concat "background-color:" m.background.color ";"))
               )
               }}

               class={{join " " (flatten (array "grid-item" m.customClasses))}}>

                {{#if m.icon}}
                    <img src="assets/images/icon/{{m.icon.src}}" alt={{or m.icon.alt m.name}}/>
                {{/if}}

                {{#if m.title}}
                    <h1 style={{concat
                    "color:" (or m.color.text m.color.primary) ";"
                    }}>{{m.title}}</h1>
                {{/if}}

                {{#if m.name}}
                    <h2 style={{concat
                    "color:" (or m.color.text m.color.primary) ";"
                    }}>{{m.name}}</h2>

                {{/if}}
                <aside style="{{if m.color.copy (join " " (array "color:" m.color.copy ";"))}}">{{m.tagline}}</aside>
            </a>

        {{/each}}
    </section>
</article>