<article>
    <header>
        {{#if model.icon}}
            <div class="project-title">
                {{application/hosted-img pch="icon" name=(or model.icon.src model.icon) alt=(or model.icon.alt model.name) class="logo"}}
                <h1 class='title' style="color: {{model.color.primary}};">{{or model.title model.name}}</h1>
            </div>

        {{else}}
            <h1 style="color: {{model.color.primary}};">{{or model.title model.name}}</h1>
        {{/if}}

        {{#if model.title}}
            <h2 style="color: {{model.color.primary}};">{{model.name}}</h2>
        {{/if}}
        {{#if model.tagline}}
            <h4>{{model.tagline}}</h4>
        {{/if}}

    </header>
    {{#if model.description}}
        <section class="description">
            <p>{{model.description}}</p>
        </section>
    {{/if}}

    {{#if model.content}}
        <ul>
            {{#each model.content as |val|}}
                <li>{{safe-string val}}</li>
            {{/each}}
        </ul>
    {{/if}}


    {{#if model.detailedBackground}}
        <section class="detailed-background">
            <h3>About:</h3>
            <p>{{model.detailedBackground}}</p>
        </section>
    {{/if}}
    {{#if model.readme}}
        <section class="readme">
            <h3>README:</h3>
            <p>{{render-markdown url=model.readme.markdown}}</p>
        </section>
    {{/if}}

    {{#if model.video}}
        <section class="description">
            <h3>Video</h3>
            <iframe width="854" height="480" src="{{model.video.embed}}" frameborder="0" allowfullscreen></iframe>
        </section>
    {{/if}}

    {{#if model.screenshots}}
        {{#slick-carousel
        class="ember-carousel"
        autoplay=true
        autoplaySpeed=2000
        slidesToShow=1
        slidesToScroll=1
        dots=true
        fade=true}}
            {{#each model.screenshots   as |s|}}
                <div><img src={{s}}></div>
            {{/each}}

        {{/slick-carousel}}
    {{/if}}



    {{#if model.news}}
        <section class="news">
            <h3>In the News:</h3>
            <ul>
                {{#each model.news as |story|}}
                    <li>
                        <header>
                            <span class="date">{{story.date}}</span> • <span class="host">{{story.host}}</span>
                        </header>
                        <a href="{{story.url}}"><h6>{{story.title}}</h6></a>
                        {{#if story.comment}}
                            <section>{{story.comment}}</section>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>


        </section>
    {{/if}}


    {{#if model.tweets}}
        <section class="tweets">
            <h3>In the Tweets!</h3>
            {{application/tweets-group model=model.tweets}}
        </section>
    {{/if}}


    {{#if model.platforms}}
        <section class="platforms">
            <h3>Avalable on:</h3>
            {{#each model.platforms as |skill|}}
                {{skills/platform-display modelId=skill}}
            {{/each}}

        </section>
    {{/if}}
    {{#if model.technologies}}
        <section class="technologies">
            <h3>Tech that made this app possible:</h3>
            {{#each model.technologies as |skill|}}
                {{skills/skill-display modelId=skill}}
            {{/each}}

        </section>
    {{/if}}
    {{outlet}}
</article>